.flower {
    background-image: url("./../images/css3-multi-bacground.jpg");
}

.col-sm-8{
	/*margin-left: 15%;*/
	background-color: pink;
	text-align: center;
	

	
}
#btnStart {
	text-align: center;
}
















































